### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

node_modules
bower_components
*.tsbuildinfo
package-lock.json
*.sublime*

psd
thumb
sketch
